* {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

html {
  font-family: Roboto, sans-serif;
}

.weather {
  width: 100%;
  height: 100vh;
  background: var(--background-theme);
}

html[data-theme=day] .weather,
.weather {
  --background-theme: linear-gradient(
      360deg,
      #3594bf 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #53a6cb;
  --primary-color: #eee;
  --placeholder-color: #fff;
  --opacity: 1;
  --box-shadow: 0px 0px 4px #001c45;
}

html[data-theme=night] .weather {
  --background-theme: linear-gradient(
      360deg,
      #3a4d57 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #042232;
  --primary-color: rgb(172, 172, 172);
  --placeholder-color: #222;
  --opacity: 0.7;
  --box-shadow: 0px 0px 6px #b5b5b5;
}

html.transition * {
  transition: all 1000ms;
  transition-delay: 0ms;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 8px 0 8px;
}

.city-search {
  height: 25px;
  text-align: center;
  border-style: hidden;
  border-radius: 5px;
  color: #555;
  background-color: #ccc;
  opacity: var(--opacity);
}

::-moz-placeholder {
  color: var(--placeholder-color);
  -moz-transition: all 1000ms;
  transition: all 1000ms;
  transition-delay: 0ms;
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
  -ms-transition: all 1000ms;
  transition: all 1000ms;
  transition-delay: 0ms;
}

::placeholder {
  color: var(--placeholder-color);
  transition: all 1000ms;
  transition-delay: 0ms;
}

.city-search:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.geolocation {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.location__label {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  opacity: var(--opacity);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch-wrapper .theme-switch__label {
  margin-right: 5px;
}

.theme-switch {
  display: inline-box;
  height: 24px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #37753a;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.weather__inner {
  max-width: 900px;
  margin: 50px auto 0;
  padding: 20px 1em 1em;
}

.current {
  text-align: center;
  margin-bottom: 2em;
}
.current__city {
  font-size: 2em;
}
.current__description {
  font-size: 1.5em;
}
.current__temperature {
  font-size: 2.5em;
  padding-left: 0.3em;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}
.forecast__item {
  text-align: center;
}
.forecast__time, .forecast__icon {
  margin-bottom: 1em;
}
.forecast__icon {
  width: 50px;
  height: 50px;
}
.forecast__temperature {
  font-size: 1.5em;
}

.details {
  text-align: center;
}
.details__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.details__item {
  flex: 1;
}
.details__name {
  margin-bottom: 1em;
}
.details__value {
  font-size: 1.5em;
}

.forecast__icon {
  background-size: 50px;
  background-repeat: no-repeat;
  opacity: var(--opacity);
}

.icon__clear_sky {
  background-image: url("../images/01d.png");
}

.icon__few_clouds {
  background-image: url("../images/02d.png");
}

.icon__scattered_clouds {
  background-image: url("../images/03d.png");
}

.icon__broken_clouds {
  background-image: url("../images/04d.png");
}

.icon__shower_rain {
  background-image: url("../images/09d.png");
}

.icon__rain {
  background-image: url("../images/10d.png");
}

.icon__thunderstorm {
  background-image: url("../images/11d.png");
}

.icon__snow {
  background-image: url("../images/13d.png");
}

.icon__mist {
  background-image: url("../images/50d.png");
}/*# sourceMappingURL=main.css.map */