$padding: 1em;
$icon-size: 50px;

* {
  padding: 0;
  margin: 0;
  color: #fff;
}

html {
  font-family: Roboto, sans-serif;
}

.weather {
  width: 100%;
  height: 100vh;
}

html[data-theme='day'] .weather,
.weather {
  background: linear-gradient(360deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%),
    #53a6cb;
}

html[data-theme='night'] .weather {
  background: linear-gradient(360deg, #55707e 0%, rgba(255, 255, 255, 0) 100%),
    #042232;
}

.weather__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: $padding;
}

.current {
  text-align: center;
  margin-bottom: $padding * 2;

  &__city {
    font-size: 3em;
  }

  &__description {
    font-size: 1.5em;
  }

  &__temperature {
    font-size: 4em;
  }
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding * 3;

  &__item {
    text-align: center;
  }
  &__time,
  &__icon {
    margin-bottom: $padding;
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
  }

  &__temperature {
    font-size: 1.5em;
  }
}

.details {
  text-align: center;
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding * 2;
  }

  &__item {
    flex: 1;
  }

  &__name {
    margin-bottom: $padding;
  }

  &__value {
    font-size: 1.5em;
  }
}

.forecast__icon {
  background-size: $icon-size;
  background-repeat: no-repeat;
}

.icon__clear_sky {
  background-image: url('../images/01d.png');
}

.icon__few_clouds {
  background-image: url('../images/02d.png');
}

.icon__scattered_clouds {
  background-image: url('../images/03d.png');
}

.icon__broken_clouds {
  background-image: url('../images/04d.png');
}

.icon__shower_rain {
  background-image: url('../images/09d.png');
}

.icon__rain {
  background-image: url('../images/10d.png');
}

.icon__thunderstorm {
  background-image: url('../images/11d.png');
}

.icon__snow {
  background-image: url('../images/13d.png');
}

.icon__mist {
  background-image: url('../images/50d.png');
}
