$padding: 1em;
$icon-size: 50px;

* {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
}

html {
  font-family: Roboto, sans-serif;
}

.weather {
  width: 100%;
  height: 100vh;
  background: var(--background-theme);
}

html[data-theme='day'] .weather,
.weather {
  --background-theme: linear-gradient(
      360deg,
      #3594bf 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #53a6cb;
  --primary-color: #eee;
  --placeholder-color: #fff;
  --opacity: 1;
  --box-shadow: 0px 0px 4px #001c45;
}

html[data-theme='night'] .weather {
  --background-theme: linear-gradient(
      360deg,
      #3a4d57 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #042232;
  --primary-color: rgb(172, 172, 172);
  --placeholder-color: #222;
  --opacity: 0.7;
  --box-shadow: 0px 0px 6px #b5b5b5;
}

html.transition * {
  transition: all 1000ms;
  transition-delay: 0ms;
}

.search {
  position: absolute;
  display: flex;
  align-items: center;
  top: 8px;
  left: 10px;
}

.location__label {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
}

.city-search {
  height: 25px;
  width: 190px;
  text-align: center;
  border-style: hidden;
  border-radius: 5px;
  color: #555;
  background-color: #ccc;
}

::placeholder {
  color: var(--placeholder-color);
  transition: all 1000ms;
  transition-delay: 0ms;
}

.city-search:focus {
  outline: none;
  box-shadow: var(--box-shadow);
}

.theme-switch-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
  }

  .theme-switch__label {
    margin-right: 10px;
  }
}

.theme-switch {
  display: inline-box;
  height: 24px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider {
  background-color: #37753a;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.weather__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px $padding $padding;
}

.current {
  text-align: center;
  margin-bottom: $padding * 2;

  &__city {
    font-size: 3em;
  }

  &__description {
    font-size: 1.5em;
  }

  &__temperature {
    font-size: 4em;
  }
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-bottom: $padding * 3;

  &__item {
    text-align: center;
  }
  &__time,
  &__icon {
    margin-bottom: $padding;
  }

  &__icon {
    width: $icon-size;
    height: $icon-size;
  }

  &__temperature {
    font-size: 1.5em;
  }
}

.details {
  text-align: center;
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding * 2;
  }

  &__item {
    flex: 1;
  }

  &__name {
    margin-bottom: $padding;
  }

  &__value {
    font-size: 1.5em;
  }
}

.forecast__icon {
  background-size: $icon-size;
  background-repeat: no-repeat;
  opacity: var(--opacity);
}

.icon__clear_sky {
  background-image: url('../images/01d.png');
}

.icon__few_clouds {
  background-image: url('../images/02d.png');
}

.icon__scattered_clouds {
  background-image: url('../images/03d.png');
}

.icon__broken_clouds {
  background-image: url('../images/04d.png');
}

.icon__shower_rain {
  background-image: url('../images/09d.png');
}

.icon__rain {
  background-image: url('../images/10d.png');
}

.icon__thunderstorm {
  background-image: url('../images/11d.png');
}

.icon__snow {
  background-image: url('../images/13d.png');
}

.icon__mist {
  background-image: url('../images/50d.png');
}
